<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://use.typekit.net/lxr8vfq.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

  <meta property="og:title" content="The Travelling Embassy of Rockall" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.rockall.is" />
  <meta property="og:image" content="/img/rockall-ho.jpg" />
  <meta property="og:description" content="What if you could start a new society on a tiny island in the middle of the ocean?" />
  <meta name="description" content="What if you could start a new society on a tiny island in the middle of the ocean?" />

  <link rel="icon" href="/favicon-144.png?v=2" sizes="144x144">
  <link rel="icon" href="/favicon-64.png?v=2" sizes="64x64">
  <link rel="icon" href="/favicon-32.png?v=2" sizes="32x32">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="msapplication-TileImage" content="/favicon-144.png?v=2">
</head>
