.wrap-splash {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url('/img/rockall-ho.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.wrap-what-is-rockall {
  background-color: $rockall-grey-blue;

  #rockall-diagram {
    position: absolute;
    width: 35%;
    height: auto;
    max-width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.wrap-atlantic-map {
  background-image: url('/img/atlantic-map.jpg');
  background-size: cover;
  background-position: center;

  #atlantic-map-annotation {
    width: 100%;
    position: absolute;
    bottom: 3rem;
  }
}

.wrap-unclos {
  background-image: url('/img/rockall-by-andy-strangeway.jpg');
  background-size: cover;
  background-position: center;

  #claim-status {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 7.5%;
    text-shadow: 1px 1px 1px $text-color;
    letter-spacing: 0.5px;
    font-weight: 500;

    p {
      margin: auto;
      max-width: 500px;
    }
  }
}

.wrap-unclos-quote {
  background: rgba(255,255,255,0.7);
}

.wrap-old-harbour-map {
  background-image: url('/img/old-harbour-map.jpg');
  background-size: cover;
  background-position: bottom center;
}

.wrap-what-if {
  background-color: #ffeed7;

  #illustration-what-if {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

.wrap-how-can-we {
  background-color: $rockall-blue-light;

  #illustration-how-can-we {
    width: 100%;
    height: auto;
  }
}

.wrap-footer {
  background-color: $rockall-mauve;
}