html {
  font-size: 16px;

  @media screen and (min-width: $screen-sm) {
    font-size: 16px;
  }

  @media screen and (min-width: $screen-lg) {
    //font-size: 18px;
  }
}

body {
  font-family: "brandon-grotesque",sans-serif !important;
  font-size: 18px;
  color: $rockall-red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 600;
  color: $rockall-blue;
}

h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  z-index: 100;
}

@media screen and (min-width: $screen-sm) {
  h1 {
    font-size: 4.25rem;
    letter-spacing: 10px;
  }
}

h2 {
  font-size: 1.4rem;
}

strong {
  font-weight: 500;
}

p,
li {
  letter-spacing: -0.25px;
  font-size: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }
}


a {
  color: $rockall-blue;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited,
  &:active {
    color: $rockall-blue;
  }
}

.white-text {
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

dl {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.one-line {
    dt {
      display: inline;
      &:after {
        content: ": "
      }
    }

    dd {
      display: inline;
    }

    div {
      margin-bottom: 0.5rem;
    }
  }
}

blockquote {
  border: none;
  color: $text-color;
  font-size: 1.25rem;
  letter-spacing: normal;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}


.section__header {
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.medium,
.medium p,
.medium dt,
.medium dd {
  font-size: 0.95rem;
}

.medium {
  h3 {
    font-size: 21px;
  }

  strong {
    letter-spacing: normal;
  }
}

.small,
.small p {
  font-size: 0.875rem;
}