html {
  font-size: 16px;

  @media screen and (min-width: $screen-sm) {
    font-size: 18px;
  }
}

body {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 500;
}

strong {
  font-weight: 500;
}

p,
li {
  font-size: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }
}


a {
  color: #2a7ae2;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: #2a7ae2;
  }
}

.white-text {
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

dl {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.one-line {
    dt {
      display: inline;
      &:after {
        content: ": "
      }
    }

    dd {
      display: inline;
    }

    div {
      margin-bottom: 0.5rem;
    }
  }
}

blockquote {
  border: none;
  color: $text-color;
  font-size: 1.25rem;
  letter-spacing: normal;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}


.section__header {
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.medium,
.medium p,
.medium dt,
.medium dd {
  font-size: 0.95rem;
}

.medium {
  h3 {
    font-size: 21px;
  }
}