.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: $rockall-blue;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: 600;
  letter-spacing: 0.25px;

  &:hover,
  &:active,
  &:focus {
    background-color: $rockall-red;
    border-color: $rockall-red;
  }
}