.form-control {
  border-radius: 0;
  border: 3px solid #fff;
  padding: 10px 12px !important;

  box-shadow: none;
  font-size: 1.25rem;
  color: $rockall-blue;

  &:focus {
    border-color: #eee;
    outline: none !important;
    box-shadow: none !important;
  }


}

.input-group {
  max-width: 500px;

  label {
    display: block;
  }
}