.link-social {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: $rockall-blue;
  fill: $rockall-blue !important;

  &:hover {
    color: $rockall-gray;
    fill: $rockall-gray !important;
  }
  //margin-right: 10px;
}

.icon-social {
  font-size: 1rem;
  width: 45px;
  height: 45px;
  color: $rockall-blue;
  fill: $rockall-blue !important;

  &:hover {
    color: $rockall-gray;
    fill: $rockall-gray !important;
  }
}