.link-social {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: $rockall-blue;
  fill: $rockall-blue !important;
  //margin-right: 10px;
}

.icon-social {
  font-size: 1rem;
  width: 45px;
  height: 45px;
  color: $rockall-blue;
  fill: $rockall-blue !important;
}