.well {
  display: block;
  clear: both;
  padding: 20px;

}

@media screen and (min-width: $screen-lg) {
  .well {
    padding: 30px;
  }
}

@media screen and (min-width: $screen-sm) {
  .well-flush-left {
    margin-left: -60px;
  }
}

@media screen and (min-width: $screen-lg) {
  .well-flush-left {
    margin-left: -90px;
  }
}

.well-red,
.well-blue {
  color: #fff;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
  }

  a {
    color: #fff;
  }
}

.well-blue-outline {
  border: 5px solid $rockall-blue;
}

.well-red {
  background-color: $rockall-red;
}

.well-blue {
  background-color: $rockall-blue;
}

.well-social {
  width: 100%;
  border: none;
  padding: 15px;
  display: inline-block;
  background-color: #fff;
}

